:root {
  --bg: #eef3f8;
  --text: #000000;
  --card: #f2f2f2;
  --shadow : rgba(0, 0, 0, 0.2);
  /* --shadowhover : rgba(0, 0, 0, 0.2); */
  --linkedin : #0A66C2;
  --facebook : #1877F2;
  --inactive : #e2ecfb;
}

[data-theme='dark'] {
  --bg: #0f172a;
  --shadow : rgb(180, 175, 175);
  /* --shadowhover : rgb(180, 175, 175); */
  --text: #ffffff;
  --card: #1e293b;
  --linkedin :#ffffff;
  --inactive : #3a3b3c;
  --facebook : #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100%;
}


body {
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
  font-family: var(--font-roboto), system-ui, sans-serif;
}

.themeBtn {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: var(--card);
  color: var(--text);
}
