
html, body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.maincontainer{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    /* overflow: hidden; */
    /* padding: 0px 10px; */
}
.mainheading a{
    text-decoration: none;
    font-size: 30px;
    color: #000000;
}
.head_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.image{
    width: 70%;
    height: 200px;
    align-items: center;
    object-fit: cover;
    border-radius: 25px;
}
.head_cont h3, .head_cont p{
    margin: 0;
    padding: 0;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-size: 16px;

}
.sub_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}
.sub_details h3,
.sub_details p {
    margin: 0;
    padding: 0;
}
.sub_details h3{
    width: 70px;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 0px auto;
}
.linkedin { color: var(--linkedin);  }
.github   { color: var(--text); }   
.facebook { color: var(--facebook);  }  

.icons {
    font-size: 35px;
    margin-top: 20px;
}
/* .linkedin,
.github,
.facebook {
    background: none;        
    color: inherit;         
}

.icons {
    font-size: 35px;
    margin-top: 20px;
} */
